.flexBox(@justify, @align, @direction){
    display: flex;
    justify-content: @justify;
    align-items: @align;
    flex-direction: @direction;
}
.linkStyle(){
    text-decoration: none;
    color: @font-color;
}